body {
    width: 100%;
    margin-bottom: 50px;
    background-image: url(/static/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255, 0.8); /* Adjust this value for opacity */
    z-index: -1; /* Ensure the overlay is behind the content */
}

.navbar {
    height: 250px;
    margin-bottom: 50px;
    background-color: #2d2e32;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 250px;
}

.page-title {
    display: flex;
    align-items: center;
}

.catalogue {
    font-family: "Roboto", serif;
    font-size: 50px;
    font-weight: 600;
    margin-right: auto;
}

.filter {
    display: flex;
}

.form-control {
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid black;
    margin-right: 20px;
}

.btn {
    border-radius: 4px;
    width: 200px;
    height: 46px;
}

.scores {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 50px;
    margin-right: 50px;
}

.score-content {
    display: grid;    
    row-gap: 70px;
    column-gap: 50px;
    font-family: "Roboto", serif;
}

.score-item {
    display: grid;
    grid-template-columns: 250px auto;
    background-color: #e0e0de;
    padding: 20px;
    border: 1px solid black;
}

.image {
    height: 260px;
    width: 200px;
}

.composer {
    color: #b77400;
}

.score-info strong {
    font-weight: 600;
}

.score-info p {
    font-weight: 400;
    font-size: 15px;
    color: black;
}

.price {
    margin-top: 10px;
    font-size: 32px !important;
    font-weight: 800 !important;
    color: black;
}